/* RESET BASICO */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #151c25;
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Overpass', sans-serif;
}
