.card
  box-shadow 0 6px 11.31px 1.69px rgba(0,0,0,.3)
  background-color #1e2634
  color #fff
  height 295px
  width 48%
  float left
  margin 10px 1%

  a
    text-decoration none
    color #fff

    &:hover
      color #f7c70c

    h3
      font-size 16px
      padding-bottom 10px

  img
    float left
    padding-right 0.5em

  span
    background-color #843725
    color #fff
    text-transform uppercase
    font-size 12px
    border-radius 20px
    padding 0.4em 0.5em 0.2em 0.4em
    margin-bottom 0.3em
    margin-right 0.2em
    display inline-block

  p
    padding 1em 0
    font-size 12px
    line-height 16px

@media (max-width: 950px)
  .card
    height 295px
    width 100%
