.sidebar__drawer
  width 240px
  //margin-top 64px
  height calc(100% - 64px)

.sidebar
  background-color: #fff
  display flex
  flex-direction column
  height 100%
  padding 10px

.sidebar__nav
  margin-bottom: 50px
