.sidebarnav
  display flex
  flex-direction column
  align-items flex-end
  padding 0 !important

.sidebarnav__item
  padding 0 !important
  margin-top 60px

.sidebarnav__item__button
  width 100%
  display flex !important
  justify-content normal !important
  padding 18px 0 13px 20px !important
  margin-left 20px !important

  &:hover
    background-color #16191e
    border-top-left-radius 15px
    border-bottom-left-radius 15px

.sidebarnav__item__button > span
  display flex
  align-items initial
  font-size 16px
  color #fff
  text-transform none

.sidebarnav__item__icon
  margin-right 15px

.sidebarnav__submenu
  margin-left 40px

  h4
    color #999
    text-transform uppercase
    font-size 12px
    margin-top 25px
    margin-bottom 10px

.sidebarnav__submenu__item
  text-transform none !important
  padding 2px 0 !important

.sidebarnav__submenu__button
  color #fff !important
  text-transform none !important
  padding 0 !important
  min-width 0 !important

  span

    &:hover
      color #ff9800
