.header
  box-shadow none
  padding 60px 0 80px 0
  background-color #20252c !important

.header__info
  color #fff

  h2
    font-weight bold
    font-size 24px
    padding-bottom 5px

  p
    font-size 12px
    margin 0

.header__flexgrow
  flex-grow 1

.header__icon__button
  padding 5px !important
