.main
  height 100%

.main__header__open
  margin-left 290px
  transition 0.4s

.main__content__open
  margin-left 315px
  transition 0.4s

.main__content__close
  margin-left 20px
  transition 0.4s

