.main
  height 100%

.main__header__open
  margin-left 290px
  transition 0.4s

.main__content__open
  padding-left 315px
  padding-right 20px
  transition 0.4s

.main__content__close
  padding 0 20px
  transition 0.4s

