.sidebar__drawer
  width 220px
  height calc(100% - 64px)
  background-color #20252c !important
  overflow hidden
  border-right: 8px solid #FF9800 !important;

.sidebar
  display flex
  flex-direction column
  overflow hidden
