.header
  box-shadow none

.header__logo
  display flex
  padding-left 240px
  color #fff
  text-decoration none
  font-weight bold
  font-size 18px

.header__flexgrow
  flex-grow 1

.header__sign_out_button
  margin-left 100px
